<div class="table-wrapper">
  <ut-button (click)="openUserManagementModal()">create user</ut-button>
  <ut-table (rowClicked)="onSelectUser($event)" [columns]="userColumns" [data]="(users$ | async)!" [selectedItem]="selectedUser"/>
</div>

<ut-user-management-modal (closed)="closeUserManagementModal()" (deleted)="onDeleteUser($event)"
                          (submitted)="onSavedUser($event)" [class.user-modal--hidden]="!isUserManagementModalOpen"
                          [defaultValues]="selectedUser!" class="user-modal"/>
