<div class="table">
  <ul class="table__row--header table__row">
    @for (column of _columns; track column.key) {
      <li [style.width]="columnWidths[$index]" class="table__cell table__cell--bold">{{ column.label }}</li>
    }
  </ul>
  <div class="table__body">
    @for (item of data; track item.id) {
    <ul [ngClass]="{'table__row--active': isRowSelected(item), clickable: areRowsClickable}"
        class="table__row table__row--body" (click)="onSelectedRow(item)">
      @for (column of _columns; track column.key) {
        <li [style.width]="columnWidths[$index]" class="table__cell">
          @if (cellTemplate) {
            <ng-container *ngTemplateOutlet="cellTemplate; context: { $implicit: item, column }"/>
          } @else {
            {{ item[column.key] }}
          }
        </li>
      }
    </ul>
  }
  </div>
</div>
